
    page-home {
        .background {
           background: linear-gradient(to right,#4e8ff77e 0%,rgba(250, 133, 201, 0.76) 100% )
        }
        
        .scroll-content {
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
        }
        
        
    }
